## 20 august assignment

In [ ]:
Q.1 Write a program to reverse a string.

In [1]:
s='saifi'

In [2]:
s[::-1]

'ifias'

In [ ]:
Q.2 Check if a string is a palindrome.

In [8]:
def is_paldindrome(s):
    
    s = s.lower()
    s = ''.join(e for e in s if e.isalnum())
    return s == s[::-1]
print(is_palindrome("racecar"))
print(is_palindrome("hello"))
print(is_palindrome("A man, a plan, a canal, Panama"))

NameError: name 'is_palindrome' is not defined

In [ ]:
Q.3 Convert a string to uppercase.

In [13]:
s1=('pwskills')

In [14]:
s1.upper()

'PWSKILLS'

In [ ]:
Q.4 Convert a string to lowercase.

In [15]:
s1.lower()

'pwskills'

In [ ]:
Q.5 Count the number of vowels in a string.

In [24]:
 def count_vowels (input_string):
    vowels='aeiouAEIOU'
    count = 0
    for char in input_string:
        if char in vowels:
            count + =1
            return count
# test the function
input_string = 'he_ _ _llo, world'
print ("number of vowels in the string": 
count_vowels(input_string))

SyntaxError: invalid syntax (422592176.py, line 6)

In [ ]:
Q.6 Count the number of consonants in a string.

In [26]:
def count_consonants(s):
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    count = 0
    for char in s:
        if char in consonants:
            count += 1
    return count

# Example usage
string = "Hello, World!"
print(count_consonants(string))  # Output: 8

7

In [ ]:
Q.7. Remove all whitespaces from a string.

In [27]:
import re

def remove_whitespace_regex(s):
    return re.sub(r"\s+", "", s)

# Example usage
string = "Hello,  World!\t\n"
print(remove_whitespace_regex(string))  # Output: "Hello,World!"

Hello,World!

In [ ]:
Q.8 Find the length of a string without using the `len()` function.

In [28]:
def string_length(s):
    count = 0
    for char in s:
        count += 1
    return count

# Example usage
string = "Hello, World!"
print(string_length(string))  # Output: 13

13

In [ ]:
Q.9 Check if a string contains a specific word.

In [29]:
def contains_word(s, word):
    return word in s

# Example usage
string = "Hello, World!"
word_to_check = "World"
if contains_word(string, word_to_check):
    print(f"The string contains the word '{word_to_check}'.")
else:
    print(f"The string does not contain the word '{word_to_check}'.")

The string contains the word 'World'.

In [ ]:
Q.10. Replace a word in a string with another word.

In [30]:
def replace_word(s, old_word, new_word):
    return s.replace(old_word, new_word)

# Example usage
string = "Hello, World!"
old_word = "World"
new_word = "Universe"
new_string = replace_word(string, old_word, new_word)
print(new_string)  # Output: "Hello, Universe!"

Hello, Universe!

In [ ]:
Q.11. Count the occurrences of a word in a string.

In [31]:
def count_word_occurrences(s, word):
    words = s.split()
    count = 0
    for w in words:
        if w == word:
            count += 1
    return count

# Example usage
string = "Hello, World! Hello, Universe! Hello, World!"
word_to_count = "Hello"
print(count_word_occurrences(string, word_to_count))  # Output: 3

0

In [ ]:
Q.12. Find the first occurrence of a word in a string.

In [32]:
def find_first_occurrence(s, word):
    words = s.split()
    for i, w in enumerate(words):
        if w == word:
            return i
    return -1  # Return -1 if the word is not found

# Example usage
string = "Hello, World! Hello, Universe! Hello, World!"
word_to_find = "Hello"
print(find_first_occurrence(string, word_to_find))  # Output: 0

-1

In [ ]:
Q.13. Find the last occurrence of a word in a string.

In [33]:
def find_last_occurrence(s, word):
    words = s.split()
    for i in range(len(words) - 1, -1, -1):
        if words[i] == word:
            return i
    return -1  # Return -1 if the word is not found

# Example usage
string = "Hello, World! Hello, Universe! Hello, World!"
word_to_find = "Hello"
print(find_last_occurrence(string, word_to_find))  # Output: 4

-1

In [ ]:
14. Split a string into a list of words.

In [41]:
def split_into_words(s):
    return s.split()

# Example usage
string = "Hello, World! Hello, Universe!"
words = split_into_words(string)
print(words)  # Output: ['Hello,', 'World!', 'Hello,', 'Universe!']

['Hello,', 'World!', 'Hello,', 'Universe!']

In [ ]:
Q.15 Join a list of words into a string.

In [42]:
def join_words(words):
    return ' '.join(words)

# Example usage
word_list = ['Hello,', 'World!', 'Hello,', 'Universe!']
string = join_words(word_list)
print(string)  # Output: 'Hello, World! Hello, Universe!'

Hello, World! Hello, Universe!

In [ ]:
16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [43]:
def convert_spaces_to_underscores(s):
    return s.replace(' ', '_')

# Example usage
string = "Hello, World! Hello, Universe!"
converted_string = convert_spaces_to_underscores(string)
print(converted_string)  # Output: "Hello,_World!_Hello,_Universe!"

Hello,_World!_Hello,_Universe!

In [ ]:
17. Check if a string starts with a specific word or phrase.

In [44]:
def starts_with_word(s, word):
    return s.startswith(word)

# Example usage
string = "Hello, World!"
word_to_check = "Hello"
if starts_with_word(string, word_to_check):
    print(f"The string starts with '{word_to_check}'.")
else:
    print(f"The string does not start with '{word_to_check}'.")

The string starts with 'Hello'.

In [ ]:
18. Check if a string ends with a specific word or phrase.

In [45]:
def ends_with_word(s, word):
    return s.endswith(word)

# Example usage
string = "Hello, World!"
word_to_check = "World!"
if ends_with_word(string, word_to_check):
    print(f"The string ends with '{word_to_check}'.")
else:
    print(f"The string does not end with '{word_to_check}'.")

The string ends with 'World!'.

In [ ]:
19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [46]:
def convert_to_title_case(s):
    return s.title()

# Example usage
string = "hello world"
title_case_string = convert_to_title_case(string)
print(title_case_string)  # Output: "Hello World"

Hello World

In [ ]:
20. Find the longest word in a string.

In [49]:
def find_longest_word(s):
    words = s.split()
    longest_word = ""
    for word in words:
        if len(word) > len(longest_word):
            longest_word = word
    return longest_word

# Example usage
string = "Hello, World! Welcome to bihar."
longest_word = find_longest_word(string)
print(longest_word)  # Output: "Welcome"

Welcome

In [ ]:
21. Find the shortest word in a string.

In [50]:
def find_shortest_word(s):
    words = s.split()
    shortest_word = None
    for word in words:
        if shortest_word is None or len(word) < len(shortest_word):
            shortest_word = word
    return shortest_word

# Example usage
string = "Hello, World! Welcome to ChatGPT."
shortest_word = find_shortest_word(string)
print(shortest_word)  # Output: "to"

to

In [ ]:
22. Reverse the order of words in a string.

In [51]:
def reverse_words(input_string):
    # Split the input string into words
    words = input_string.split()
    
    # Reverse the order of words
    words.reverse()
    
    # Join the words back together
    reversed_string = ' '.join(words)
    
    return reversed_string

# Test the function
input_string = "Hello world"
reversed_string = reverse_words(input_string)
print(reversed_string)  # Output: "world Hello"

world Hello

In [ ]:
23. Check if a string is alphanumeric.

In [52]:
def is_alphanumeric(input_string):
    return input_string.isalnum()

# Test the function
input_string = "Hello123"
print(is_alphanumeric(input_string))  # Output: True

input_string = "Hello 123"
print(is_alphanumeric(input_string))  # Output: False

input_string = ""
print(is_alphanumeric(input_string))  # Output: False

True
False
False

In [ ]:
24. Extract all digits from a string.

In [53]:
import re

def extract_digits(input_string):
    # Use regular expression to find all digits in the string
    digits = re.findall(r'\d', input_string)
    
    # Join the digits back together to form a string
    extracted_digits = ''.join(digits)
    
    return extracted_digits

# Test the function
input_string = "Hello 123 World 456"
extracted_digits = extract_digits(input_string)
print(extracted_digits)  # Output: "123456"

123456

In [ ]:
25. Extract all alphabets from a string.

In [55]:
import re

def extract_alphabets(input_string):
    # Use regular expression to find all alphabetic characters in the string
    alphabets = re.findall(r'[a-zA-Z]', input_string)
    
    # Join the alphabetic characters back together to form a string
    extracted_alphabets = ''.join(alphabets)
    
    return extracted_alphabets

# Test the function
input_string = "Hello 123 World"
extracted_alphabets = extract_alphabets(input_string)
print(extracted_alphabets)  # Output: "HelloWorld"

HelloWorld

In [ ]:
26. Count the number of uppercase letters in a string.

In [56]:
def count_uppercase(input_string):
    count = 0
    for char in input_string:
        if char.isupper():
            count += 1
    return count

# Test the function
input_string = "Hello World"
uppercase_count = count_uppercase(input_string)
print(uppercase_count)  # Output: 2

2

In [ ]:
27. Count the number of lowercase letters in a string.

In [57]:
def count_lowercase(input_string):
    count = 0
    for char in input_string:
        if char.islower():
            count += 1
    return count

# Test the function
input_string = "Hello World"
lowercase_count = count_lowercase(input_string)
print(lowercase_count)  # Output: 8

8

In [ ]:
28. Swap the case of each character in a string.

In [58]:
def swap_case(input_string):
    return input_string.swapcase()

# Test the function
input_string = "Hello World"
swapped_string = swap_case(input_string)
print(swapped_string)  # Output: "hELLO wORLD"

hELLO wORLD

In [ ]:
29. Remove a specific word from a string.

In [59]:
def remove_word(input_string, word_to_remove):
    return input_string.replace(word_to_remove, '')

# Test the function
input_string = "Hello world, welcome to the world of Python"
word_to_remove = "world"
new_string = remove_word(input_string, word_to_remove)
print(new_string)  # Output: "Hello , welcome to the of Python"

Hello , welcome to the  of Python

In [ ]:
30. Check if a string is a valid email address.

In [60]:
import re

def is_valid_email(email):
    # Regular expression pattern for a basic email validation
    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    return bool(re.match(pattern, email))

# Test the function
email1 = "example@example.com"
email2 = "invalid_email.com"
print(is_valid_email(email1))  # Output: True
print(is_valid_email(email2))  # Output: False

True
False

In [ ]:
31. Extract the username from an email address string.

In [61]:
def extract_username(email):
    # Split the email address at the "@" symbol
    parts = email.split("@")
    
    # The username is the first part of the split
    username = parts[0]
    
    return username

# Test the function
email = "username@example.com"
username = extract_username(email)
print(username)  # Output: "username"

username

In [ ]:
32. Extract the domain name from an email address string.

In [62]:
def extract_domain(email):
    # Split the email address at the "@" symbol
    parts = email.split("@")
    
    # The domain name is the second part of the split
    domain = parts[1]
    
    return domain

# Test the function
email = "username@example.com"
domain = extract_domain(email)
print(domain)  # Output: "example.com"

example.com

In [ ]:
33. Replace multiple spaces in a string with a single space.

In [63]:
import re

def replace_multiple_spaces(input_string):
    return re.sub(' +', ' ', input_string)

# Test the function
input_string = "Hello    world   Python"
new_string = replace_multiple_spaces(input_string)
print(new_string)  # Output: "Hello world Python"

Hello world Python

In [ ]:
34. Check if a string is a valid URL.

In [64]:
pip install validators

Collecting validators
  Downloading validators-0.24.0-py3-none-any.whl (27 kB)
Installing collected packages: validators
Successfully installed validators-0.24.0
Note: you may need to restart the kernel to use updated packages.

In [65]:
import validators

def is_valid_url(url):
    return validators.url(url)

# Test the function
url1 = "https://www.example.com"
url2 = "invalid_url"
print(is_valid_url(url1))  # Output: True
print(is_valid_url(url2))  # Output: False

True
ValidationError(func=url, args={'value': 'invalid_url'})

In [ ]:
35. Extract the protocol (http or https) from a URL string.

In [66]:
def extract_protocol(url):
    # Split the URL at the first occurrence of "://"
    parts = url.split("://")
    
    # The protocol is the first part of the split
    protocol = parts[0]
    
    return protocol

# Test the function
url = "https://www.example.com"
protocol = extract_protocol(url)
print(protocol)  # Output: "https"

https

In [ ]:
36. Find the frequency of each character in a string.

In [67]:
def char_frequency(input_string):
    # Create an empty dictionary to store the frequency of each character
    frequency = {}
    
    # Iterate over each character in the input string
    for char in input_string:
        # Increment the count of the character in the dictionary
        frequency[char] = frequency.get(char, 0) + 1
    
    return frequency

# Test the function
input_string = "hello world"
frequency = char_frequency(input_string)
print(frequency)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
37. Remove all punctuation from a string.

In [68]:
import string

def remove_punctuation(input_string):
    # Create a translation table to map all punctuation characters to None
    translation_table = str.maketrans('', '', string.punctuation)
    
    # Use the translation table to remove all punctuation characters
    cleaned_string = input_string.translate(translation_table)
    
    return cleaned_string

# Test the function
input_string = "Hello, World! This is a test."
cleaned_string = remove_punctuation(input_string)
print(cleaned_string)  # Output: "Hello World This is a test"

Hello World This is a test

In [ ]:
38. Check if a string contains only digits.

In [69]:
def contains_only_digits(input_string):
    return input_string.isdigit()

# Test the function
input_string1 = "12345"
input_string2 = "12345a"
print(contains_only_digits(input_string1))  # Output: True
print(contains_only_digits(input_string2))  # Output: False

True
False

In [ ]:
39. Check if a string contains only alphabets.

In [70]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()

# Test the function
input_string1 = "abcd"
input_string2 = "abcd123"
print(contains_only_alphabets(input_string1))  # Output: True
print(contains_only_alphabets(input_string2))  # Output: False

True
False

In [ ]:
40. Convert a string to a list of characters.

In [71]:
def string_to_list(input_string):
    return list(input_string)

# Test the function
input_string = "hello"
char_list = string_to_list(input_string)
print(char_list)  # Output: ['h', 'e', 'l', 'l', 'o']

['h', 'e', 'l', 'l', 'o']

In [ ]:
41. Check if two strings are anagrams.

In [72]:
def are_anagrams(str1, str2):
    # Remove spaces and convert both strings to lowercase
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    
    # Check if the sorted versions of the strings are equal
    return sorted(str1) == sorted(str2)

# Test the function
string1 = "Listen"
string2 = "Silent"
print(are_anagrams(string1, string2))  # Output: True

string3 = "hello"
string4 = "world"
print(are_anagrams(string3, string4))  # Output: False

True
False

In [ ]:
42. Encode a string using a Caesar cipher.

In [76]:
def caesar_cipher_encrypt(input_string, shift):
    result = ""
    for char in input_string:
        if char.isalpha():
            # Determine the appropriate case range (upper or lower) for the character
            ascii_offset = 65 if char.isupper() else 97
            # Apply the shift and ensure it wraps around the alphabet
            shifted_char = chr((ord(char) - ascii_offset + shift) % 26 + ascii_offset)
            result += shifted_char
        else:
            result += char
    return result

# Test the function
input_string = "Hello, World!"
shift = 3
encrypted_string = caesar_cipher_encrypt(input_string, shift)
print(encrypted_string)  # Output: "Khoor, Zruog!"

Khoor, Zruog!

In [ ]:
43. Decode a Caesar cipher encoded string.

In [77]:
def caesar_cipher_decrypt(input_string, shift):
    return caesar_cipher_encrypt(input_string, -shift)

# Test the function
input_string = "Khoor, Zruog!"
shift = 3
decrypted_string = caesar_cipher_decrypt(input_string, shift)
print(decrypted_string)  # Output: "Hello, World!"

Hello, World!

In [ ]:
44. Find the most frequent word in a string.

In [78]:
def most_frequent_word(input_string):
    # Split the string into words
    words = input_string.split()
    
    # Create a dictionary to store the frequency of each word
    word_freq = {}
    for word in words:
        word_freq[word] = word_freq.get(word, 0) + 1
    
    # Find the most frequent word
    most_frequent_word = max(word_freq, key=word_freq.get)
    
    return most_frequent_word

# Test the function
input_string = "hello world hello python world"
result = most_frequent_word(input_string)
print(result)  # Output: "hello"

hello

In [ ]:
45. Find all unique words in a string.

In [79]:
def unique_words(input_string):
    # Split the string into words
    words = input_string.split()
    
    # Use a set to store unique words
    unique_words_set = set(words)
    
    return unique_words_set

# Test the function
input_string = "hello world hello python world"
result = unique_words(input_string)
print(result)  # Output: {'hello', 'world', 'python'}

{'python', 'hello', 'world'}

In [ ]:
46. Count the number of syllables in a string.

In [82]:
import pyphen

def count_syllables(input_string):
    dic = python.Pypthon(lang='en')
    words = input_string.split()
    syllable_count = 0
    for word in words:
        syllables = dic.inserted(word).count("-") + 1
        syllable_count += syllables
    return syllable_count

# Test the function
input_string = "hello world"
syllable_count = count_syllables(input_string)
print(syllable_count)  # Output: 3

ModuleNotFoundError: No module named 'pyphen'

In [ ]:
47. Check if a string contains any special characters.

In [83]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern for special characters
    pattern = r'[^a-zA-Z0-9\s]'
    
    # Use re.search() to check if the input string contains any special characters
    return bool(re.search(pattern, input_string))

# Test the function
input_string1 = "Hello, World!"
input_string2 = "HelloWorld123"
print(contains_special_characters(input_string1))  # Output: True
print(contains_special_characters(input_string2))  # Output: False

True
False

In [ ]:
48. Remove the nth word from a string.

In [84]:
def remove_nth_word(input_string, n):
    # Split the string into words
    words = input_string.split()
    
    # Check if the specified index is valid
    if n < 0 or n >= len(words):
        return "Invalid index"
    
    # Remove the word at the specified index
    del words[n]
    
    # Join the remaining words back together
    new_string = ' '.join(words)
    
    return new_string

# Test the function
input_string = "Hello world, welcome to Python"
n = 2
new_string = remove_nth_word(input_string, n)
print(new_string)  # Output: "Hello world, to Python"

Hello world, to Python

In [ ]:
49. Insert a word at the nth position in a string.

In [85]:
def insert_word_at_nth_position(input_string, word_to_insert, n):
    # Split the string into words
    words = input_string.split()
    
    # Check if the specified index is valid
    if n < 0 or n > len(words):
        return "Invalid index"
    
    # Insert the new word at the specified index
    words.insert(n, word_to_insert)
    
    # Join the words back together
    new_string = ' '.join(words)
    
    return new_string

# Test the function
input_string = "Hello world, welcome to Python"
word_to_insert = "beautiful"
n = 3
new_string = insert_word_at_nth_position(input_string, word_to_insert, n)
print(new_string)  # Output: "Hello world, welcome beautiful to Python"

Hello world, welcome beautiful to Python

In [ ]:
50. Convert a CSV string to a list of lists.

In [86]:
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Use StringIO to convert the CSV string to a file-like object
    csv_file = StringIO(csv_string)
    
    # Use the csv.reader to read the CSV file and convert it to a list of lists
    csv_reader = csv.reader(csv_file)
    csv_list = list(csv_reader)
    
    return csv_list

# Test the function
csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
csv_list = csv_string_to_list(csv_string)
print(csv_list)

[['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'Bob', 'Johnson']]

list based practice question

In [ ]:
1. Create a list with integers from 1 to 10.

In [88]:
l=[1,2,3,4,5,6,7,8,9,10]

In [89]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
 2. Find the length of a list without using the `len()` function.

In [96]:
def find_length_of_list(lst):
    count = 0
    for _ in lst:
        count += 1
    return count

# Test the function
my_list = [1, 2, 3, 4, 5]
length = find_length_of_list(my_list)
print(length)  # Output: 5

5

In [ ]:
3. Append an element to the end of a list.

In [97]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [98]:
l.append(5)

In [99]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5]

In [ ]:
4. Insert an element at a specific index in a list.

In [108]:
def insert_at_index(lst, index, element):
    lst.insert(index, element)
    return lst

# Test the function
my_list = [1, 2, 3, 4, 5]
index = 2
element = 100
new_list = insert_at_index(my_list, index, element)
print(new_list)  # Output: [1, 2, 100, 3, 4, 5]

[1, 2, 100, 3, 4, 5]

In [ ]:
5. Remove an element from a list by its value.

In [109]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5]

In [110]:
l.remove(6)

In [111]:
l

[1, 2, 3, 4, 5, 7, 8, 9, 10, 5]

In [ ]:
Remove an element from a list by its index.

In [112]:
l

[1, 2, 3, 4, 5, 7, 8, 9, 10, 5]

In [113]:
l.pop(0)

1

In [114]:
l

[2, 3, 4, 5, 7, 8, 9, 10, 5]

In [ ]:
Check if an element exists in a list.

In [115]:
def check_element_exists(lst, element):
    return element in lst

# Test the function
my_list = [1, 2, 3, 4, 5]
element_to_check = 3
result = check_element_exists(my_list, element_to_check)
print(result)  # Output: True

True

In [ ]:
8. Find the index of the first occurrence of an element in a list.

In [118]:
def find_first_occurrence(lst, element):
    return lst.index(element)

# Test the function
my_list = [1, 2, 3, 4, 5, 3]
element_to_find = 3
index = find_first_occurrence(my_list, element_to_find)
print(index)  # Output: 2

2

In [ ]:
9. Count the occurrences of an element in a list.

In [119]:
def count_occurrences(lst, element):
    return lst.count(element)

# Test the function
my_list = [1, 2, 3, 4, 5, 3, 3]
element_to_count = 3
count = count_occurrences(my_list, element_to_count)
print(count)  # Output: 3

3

In [ ]:
10. Reverse the order of elements in a list.

In [120]:
l

[2, 3, 4, 5, 7, 8, 9, 10, 5]

In [121]:
l

[2, 3, 4, 5, 7, 8, 9, 10, 5]

In [122]:
l[::-1]

[5, 10, 9, 8, 7, 5, 4, 3, 2]

In [125]:
l.reverse()

In [126]:
l

[5, 10, 9, 8, 7, 5, 4, 3, 2]

In [ ]:
11. Sort a list in ascending order.

In [127]:
def sort_list(lst):
    lst.sort()
    return lst

# Test the function
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
sorted_list = sort_list(my_list)
print(sorted_list)

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [ ]:
12. Sort a list in descending order.

In [128]:
def sort_list_descending(lst):
    lst.sort(reverse=True)
    return lst

# Test the function
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
sorted_list = sort_list_descending(my_list)
print(sorted_list)

[9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

In [ ]:
13. Create a list of even numbers from 1 to 20.

In [130]:
l1=[2,4,6,8,10,12,14,16,18,20]

In [131]:
l1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
14. Create a list of odd numbers from 1 to 20.

In [132]:
l2=[1,3,7,13,17,19]

In [133]:
l2

[1, 3, 7, 13, 17, 19]

In [ ]:
15. Find the sum of all elements in a list.

In [134]:
def sum_of_elements(lst):
    return sum(lst)

# Test the function
my_list = [1, 2, 3, 4, 5]
total_sum = sum_of_elements(my_list)
print(total_sum)  # Output: 15

15

In [ ]:
16. Find the maximum value in a list.

In [135]:
def find_maximum(lst):
    return max(lst)

# Test the function
my_list = [1, 2, 3, 4, 5]
maximum_value = find_maximum(my_list)
print(maximum_value)  # Output: 5

5

In [ ]:
17. Find the minimum value in a list.

In [136]:
def find_minimum(lst):
    return min(lst)

# Test the function
my_list = [1, 2, 3, 4, 5]
minimum_value = find_minimum(my_list)
print(minimum_value)  # Output: 1

1

In [ ]:
18. Create a list of squares of numbers from 1 to 10.

In [137]:
squares = [x**2 for x in range(1, 11)]

# Test the list
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
19. Create a list of random numbers.

In [138]:
import random

def generate_random_list(length, start, end):
    return [random.randint(start, end) for _ in range(length)]

# Test the function
length = 5
start = 1
end = 10
random_list = generate_random_list(length, start, end)
print(random_list)

[2, 10, 7, 4, 9]

In [ ]:
20. Remove duplicates from a list.

In [139]:
def remove_duplicates(lst):
    return list(set(lst))

# Test the function
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = remove_duplicates(my_list)
print(unique_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
21. Find the common elements between two lists.

In [140]:
def find_common_elements(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    return list(set1.intersection(set2))

# Test the function
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common_elements = find_common_elements(list1, list2)
print(common_elements)  # Output: [4, 5]

[4, 5]

In [ ]:
22. Find the difference between two lists.

In [141]:
def find_list_difference(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    return list(set1.difference(set2))

# Test the function
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
difference = find_list_difference(list1, list2)
print(difference)  # Output: [1, 2, 3]

[1, 2, 3]

In [ ]:
23. Merge two lists.

In [142]:
l+l1

[5, 10, 9, 8, 7, 5, 4, 3, 2, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
24. Multiply all elements in a list by 2.

In [143]:
l1*2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
25. Filter out all even numbers from a list.

In [144]:
def filter_out_even_numbers(lst):
    return [x for x in lst if x % 2 != 0]

# Test the function
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
filtered_list = filter_out_even_numbers(my_list)
print(filtered_list)  # Output: [1, 3, 5, 7, 9]

[1, 3, 5, 7, 9]

In [ ]:
26. Convert a list of strings to a list of integers.

In [145]:
def convert_to_integers(lst):
    return [int(x) for x in lst]

# Test the function
string_list = ["1", "2", "3", "4", "5"]
integer_list = convert_to_integers(string_list)
print(integer_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
27. Convert a list of integers to a list of strings.

In [146]:
def convert_to_strings(lst):
    return [str(x) for x in lst]

# Test the function
integer_list = [1, 2, 3, 4, 5]
string_list = convert_to_strings(integer_list)
print(string_list)  # Output: ['1', '2', '3', '4', '5']

['1', '2', '3', '4', '5']

In [ ]:
28. Flatten a nested list.

In [148]:
def flatten_list(nested_list):
    flattened_list = []
    for i in nested_list:
        if isinstance(i, list):
            flattened_list.extend(flatten_list(i))
        else:
            flattened_list.append(i)
    return flattened_list

# Test the function
nested_list = [1, [2, [3, 4], 5], 6, [7, 8]]
flat_list = flatten_list(nested_list)
print(flat_list)  # Output: [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
29. Create a list of the first 10 Fibonacci numbers.

In [149]:
def fibonacci_sequence(n):
    fibonacci_numbers = [0, 1]
    while len(fibonacci_numbers) < n:
        fibonacci_numbers.append(fibonacci_numbers[-1] + fibonacci_numbers[-2])
    return fibonacci_numbers

# Test the function
fibonacci_numbers = fibonacci_sequence(10)
print(fibonacci_numbers)  # Output: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
30. Check if a list is sorted.

In [150]:
def is_sorted(lst):
    return all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))

# Test the function
sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [1, 3, 2, 4, 5]
print(is_sorted(sorted_list))  # Output: True
print(is_sorted(unsorted_list))  # Output: False

True
False

In [ ]:
31. Rotate a list to the left by `n` positions.

In [151]:
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n in case it's larger than the length of the list
    return lst[n:] + lst[:n]

# Test the function
my_list = [1, 2, 3, 4, 5]
rotated_list = rotate_left(my_list, 2)
print(rotated_list)  # Output: [3, 4, 5, 1, 2]

[3, 4, 5, 1, 2]

In [ ]:
32. Rotate a list to the right by `n` positions.

In [152]:
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n in case it's larger than the length of the list
    return lst[-n:] + lst[:-n]

# Test the function
my_list = [1, 2, 3, 4, 5]
rotated_list = rotate_right(my_list, 2)
print(rotated_list)  # Output: [4, 5, 1, 2, 3]

[4, 5, 1, 2, 3]

In [ ]:
33. Create a list of prime numbers up to 50.

In [153]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
34. Split a list into chunks of size `n`.

In [154]:
def split_into_chunks(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

# Test the function
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3
chunks = split_into_chunks(my_list, chunk_size)
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [ ]:
35. Find the second largest number in a list.

In [155]:
def second_largest(lst):
    sorted_list = sorted(lst, reverse=True)
    return sorted_list[1] if len(sorted_list) > 1 else None

# Test the function
my_list = [10, 20, 4, 45, 99]
second_largest_num = second_largest(my_list)
print(second_largest_num)  # Output: 45

45

In [ ]:
36. Replace every element in a list with its square.

In [156]:
def square_elements(lst):
    return [x**2 for x in lst]

# Test the function
my_list = [1, 2, 3, 4, 5]
squared_list = square_elements(my_list)
print(squared_list)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [157]:
def list_to_dict(lst):
    return {value: index for index, value in enumerate(lst)}

# Test the function
my_list = ['a', 'b', 'c', 'd', 'e']
result_dict = list_to_dict(my_list)
print(result_dict)

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}

In [ ]:
38. Shuffle the elements of a list randomly.

In [158]:
import random

def shuffle_list(lst):
    shuffled_lst = lst.copy()
    random.shuffle(shuffled_lst)
    return shuffled_lst

# Test the function
my_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(my_list)
print(shuffled_list)

[1, 2, 5, 3, 4]

In [ ]:
39. Create a list of the first 10 factorial numbers.

In [159]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

factorial_numbers = [factorial(i) for i in range(10)]
print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
40. Check if two lists have at least one element in common.

In [160]:
def common_elements(lst1, lst2):
    return any(elem in lst1 for elem in lst2)

# Test the function
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
list3 = [5, 10, 15, 20]
print(common_elements(list1, list2))  # Output: False
print(common_elements(list1, list3))  # Output: True

False
True

In [ ]:
41. Remove all elements from a list.

In [161]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)  # Output: []

[]

In [ ]:
42. Replace negative numbers in a list with 0.

In [162]:
def replace_negative_with_zero(lst):
    return [max(0, x) for x in lst]

# Test the function
my_list = [1, -2, 3, -4, 5, -6]
updated_list = replace_negative_with_zero(my_list)
print(updated_list)  # Output: [1, 0, 3, 0, 5, 0]

[1, 0, 3, 0, 5, 0]

In [ ]:
43. Convert a string into a list of words.

In [163]:
def string_to_list_of_words(string):
    return string.split()

# Test the function
my_string = "Hello, how are you?"
word_list = string_to_list_of_words(my_string)
print(word_list)  # Output: ['Hello,', 'how', 'are', 'you?']

['Hello,', 'how', 'are', 'you?']

In [ ]:
44. Convert a list of words into a string.

In [164]:
def list_of_words_to_string(word_list):
    return ' '.join(word_list)

# Test the function
my_list = ['Hello,', 'how', 'are', 'you?']
string = list_of_words_to_string(my_list)
print(string)  # Output: 'Hello, how are you?'

Hello, how are you?

In [ ]:
45. Create a list of the first `n` powers of 2.

In [165]:
def powers_of_2(n):
    return [2**i for i in range(n)]

# Test the function
n = 5
powers_list = powers_of_2(n)
print(powers_list)  # Output: [1, 2, 4, 8, 16]

[1, 2, 4, 8, 16]

In [ ]:
46. Find the longest string in a list of strings.

In [166]:
def longest_string(lst):
    return max(lst, key=len)

# Test the function
my_list = ["apple", "banana", "orange", "kiwi"]
longest = longest_string(my_list)
print(longest)  # Output: "banana"

banana

In [ ]:
47. Find the shortest string in a list of strings.

In [167]:
def shortest_string(lst):
    return min(lst, key=len)

# Test the function
my_list = ["apple", "banana", "orange", "kiwi"]
shortest = shortest_string(my_list)
print(shortest)  # Output: "kiwi"

kiwi

In [ ]:
48. Create a list of the first `n` triangular numbers.

In [168]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Test the function
n = 5
triangular_list = triangular_numbers(n)
print(triangular_list)  # Output: [1, 3, 6, 10, 15]

[1, 3, 6, 10, 15]

In [ ]:
49. Check if a list contains another list as a subsequence.

In [169]:
def is_subsequence(sub, lst):
    i, j = 0, 0
    while i < len(sub) and j < len(lst):
        if sub[i] == lst[j]:
            i += 1
        j += 1
    return i == len(sub)

# Test the function
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sub_list1 = [2, 4, 6]
sub_list2 = [2, 5, 6]
print(is_subsequence(sub_list1, main_list))  # Output: True
print(is_subsequence(sub_list2, main_list))  # Output: False

True
True

In [ ]:
50. Swap two elements in a list by their indices.

In [170]:
def swap_elements(lst, idx1, idx2):
    lst[idx1], lst[idx2] = lst[idx2], lst[idx1]
    return lst

# Test the function
my_list = [1, 2, 3, 4, 5]
swap_elements(my_list, 1, 3)
print(my_list)  # Output: [1, 4, 3, 2, 5]

[1, 4, 3, 2, 5]

TUPLE BASED QUESTION

In [ ]:
1. Create a tuple with integers from 1 to 5.

In [171]:
t=(1,2,3,4,5)

In [172]:
t

(1, 2, 3, 4, 5)

In [ ]:
2. Access the third element of a tuple.

In [173]:
t[3]

4

In [ ]:
3. Find the length of a tuple without using the `len()` function.

In [174]:
def tuple_length(tup):
    count = 0
    for _ in tup:
        count += 1
    return count

# Test the function
my_tuple = (1, 2, 3, 4, 5)
length = tuple_length(my_tuple)
print(length)  # Output: 5

5

In [ ]:
4. Count the occurrences of an element in a tuple.

In [175]:
def count_occurrences(tup, element):
    count = 0
    for item in tup:
        if item == element:
            count += 1
    return count

# Test the function
my_tuple = (1, 2, 2, 3, 4, 2, 5)
element = 2
occurrences = count_occurrences(my_tuple, element)
print(occurrences)  # Output: 3

3

In [ ]:
5. Find the index of the first occurrence of an element in a tuple.

In [176]:
def find_index(tup, element):
    return tup.index(element)

# Test the function
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
element = 5
index = find_index(my_tuple, element)
print(index)  # Output: 4

4

In [ ]:
6. Check if an element exists in a tuple.

In [177]:
def element_exists(tup, element):
    return element in tup

# Test the function
my_tuple = (1, 2, 3, 4, 5)
element = 3
exists = element_exists(my_tuple, element)
print(exists)  # Output: True

True

In [ ]:
7. Convert a tuple to a list.

In [178]:
l=[t]

In [179]:
l

[(1, 2, 3, 4, 5)]

In [ ]:
8. Convert a list to a tuple.

In [180]:
l1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [184]:
t=[l1]

In [185]:
t

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]]

In [ ]:
9. Unpack the elements of a tuple into variables.

In [186]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple

print(a)  # Output: 1
print(b)  # Output: 2
print(c)  # Output: 3

1
2
3

In [ ]:
10. Create a tuple of even numbers from 1 to 10.

In [187]:
even_numbers = tuple(x for x in range(1, 11) if x % 2 == 0)
print(even_numbers)  # Output: (2, 4, 6, 8, 10)

(2, 4, 6, 8, 10)

In [ ]:
11. Create a tuple of odd numbers from 1 to 10.

In [188]:
odd_numbers = tuple(x for x in range(1, 11) if x % 2 != 0)
print(odd_numbers)  # Output: (1, 3, 5, 7, 9)

(1, 3, 5, 7, 9)

In [ ]:
12. Concatenate two tuples.

In [189]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [ ]:
13. Repeat a tuple three times.

In [193]:
t1=(2,4,5,6,9)

In [194]:
t1*3

(2, 4, 5, 6, 9, 2, 4, 5, 6, 9, 2, 4, 5, 6, 9)

In [ ]:
14. Check if a tuple is empty.

In [195]:
def is_empty(tup):
    return not tup

# Test the function
empty_tuple = ()
non_empty_tuple = (1, 2, 3)
print(is_empty(empty_tuple))  # Output: True
print(is_empty(non_empty_tuple))  # Output: False

True
False

In [ ]:
15. Create a nested tuple.

In [196]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [ ]:
16. Access the first element of a nested tuple.

In [197]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
first_element = nested_tuple[0][0]
print(first_element)  # Output: 1

1

In [ ]:
17. Create a tuple with a single element.

In [198]:
single_element_tuple = (1,)
print(single_element_tuple)  # Output: (1,)

(1,)

In [ ]:
18. Compare two tuples.

In [199]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Compare for equality
print(tuple1 == tuple2)  # Output: False

# Compare for inequality
print(tuple1 != tuple2)  # Output: True

# Compare for greater than
print(tuple1 > tuple2)   # Output: False

# Compare for less than
print(tuple1 < tuple2)   # Output: True

False
True
False
True

In [ ]:
19. Delete a tuple.

In [202]:
t2=(98,67,45,63)

In [205]:
del t2

In [206]:
t2

NameError: name 't2' is not defined

In [ ]:
20. Slice a tuple.

In [207]:
my_tuple = (1, 2, 3, 4, 5)
slice_tuple = my_tuple[1:4]
print(slice_tuple)  # Output: (2, 3, 4)

(2, 3, 4)

In [ ]:
21. Find the maximum value in a tuple.

In [208]:
my_tuple = (10, 20, 30, 40, 50)
max_value = max(my_tuple)
print(max_value)  # Output: 50

50

In [ ]:
22. Find the minimum value in a tuple.

In [209]:
my_tuple = (10, 20, 30, 40, 50)
min_value = min(my_tuple)
print(min_value)  # Output: 10

10

In [ ]:
23. Convert a string to a tuple of characters.

In [210]:
my_string = "hello"
char_tuple = tuple(my_string)
print(char_tuple)  # Output: ('h', 'e', 'l', 'l', 'o')

('h', 'e', 'l', 'l', 'o')

In [ ]:
24. Convert a tuple of characters to a string.

In [211]:
char_tuple = ('h', 'e', 'l', 'l', 'o')
my_string = ''.join(char_tuple)
print(my_string)  # Output: "hello"

hello

In [ ]:
25. Create a tuple from multiple data types.

In [212]:
mixed_tuple = (1, 'hello', 3.14, True)
print(mixed_tuple)  # Output: (1, 'hello', 3.14, True)

(1, 'hello', 3.14, True)

In [ ]:
26. Check if two tuples are identical.

In [213]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are identical

In [ ]:
27. Sort the elements of a tuple.

In [214]:
my_tuple = (4, 2, 1, 3, 5)
sorted_tuple = tuple(sorted(my_tuple))
print(sorted_tuple)  # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [ ]:
28. Convert a tuple of integers to a tuple of strings.

In [215]:
tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_strings = tuple(str(x) for x in tuple_of_integers)
print(tuple_of_strings)  # Output: ('1', '2', '3', '4', '5')

('1', '2', '3', '4', '5')

In [ ]:
29. Convert a tuple of strings to a tuple of integers.

In [216]:
tuple_of_strings = ('1', '2', '3', '4', '5')
tuple_of_integers = tuple(int(x) for x in tuple_of_strings)
print(tuple_of_integers)  # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [ ]:
30. Merge two tuples.

In [217]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print(merged_tuple)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [ ]:
31. Flatten a nested tuple.

In [218]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return tuple(flattened)

# Test the function
nested_tuple = ((1, 2, 3), (4, (5, 6), 7), 8, (9, 10))
flattened_tuple = flatten_tuple(nested_tuple)
print(flattened_tuple)  # Output: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
32. Create a tuple of the first 5 prime numbers.

In [219]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

def first_n_primes(n):
    primes = []
    num = 2
    while len(primes) < n:
        if is_prime(num):
            primes.append(num)
        num += 1
    return tuple(primes)

# Get the first 5 prime numbers
first_5_primes = first_n_primes(5)
print(first_5_primes)  # Output: (2, 3, 5, 7, 11)

(2, 3, 5, 7, 11)

In [ ]:
33. Check if a tuple is a palindrome.

In [220]:
def is_palindrome(tup):
    lst = list(tup)
    return lst == lst[::-1]

# Test the function
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)
print(is_palindrome(palindrome_tuple))  # Output: True
print(is_palindrome(non_palindrome_tuple))  # Output: False

True
False

In [ ]:
34. Create a tuple of squares of numbers from 1 to 5.

In [221]:
squares_tuple = tuple(x**2 for x in range(1, 6))
print(squares_tuple)  # Output: (1, 4, 9, 16, 25)

(1, 4, 9, 16, 25)

In [ ]:
35. Filter out all even numbers from a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(x for x in my_tuple if x % 2 != 0)
print(filtered_tuple)  # Output: (1, 3, 5, 7, 9)

In [ ]:
36. Multiply all elements in a tuple by 2.

In [222]:
my_tuple = (1, 2, 3, 4, 5)
multiplied_tuple = tuple(x * 2 for x in my_tuple)
print(multiplied_tuple)  # Output: (2, 4, 6, 8, 10)

(2, 4, 6, 8, 10)

In [ ]:
37. Create a tuple of random numbers.

In [223]:
import random

# Generate a tuple of 5 random numbers between 1 and 100
random_tuple = tuple(random.randint(1, 100) for _ in range(5))
print(random_tuple)

(53, 54, 64, 96, 100)

In [ ]:
38. Check if a tuple is sorted.

In [224]:
my_tuple = (1, 2, 3, 4, 5)
is_sorted = all(my_tuple[i] <= my_tuple[i + 1] for i in range(len(my_tuple) - 1))
print(is_sorted)  # Output: True

True

In [ ]:
39. Rotate a tuple to the left by `n` positions.

In [225]:
def rotate_left(tup, n):
    n = n % len(tup)  # Normalize n to be within the length of the tuple
    return tup[n:] + tup[:n]

# Test the function
my_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_left(my_tuple, 2)
print(rotated_tuple)  # Output: (3, 4, 5, 1, 2)

(3, 4, 5, 1, 2)

In [ ]:
40. Rotate a tuple to the right by `n` positions.

In [226]:
def rotate_right(tup, n):
    n = n % len(tup)  # Normalize n to be within the length of the tuple
    return tup[-n:] + tup[:-n]

# Test the function
my_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_right(my_tuple, 2)
print(rotated_tuple)  # Output: (4, 5, 1, 2, 3)

(4, 5, 1, 2, 3)

In [ ]:
41. Create a tuple of the first 5 Fibonacci numbers.

In [227]:
def fibonacci(n):
    fib = [0, 1]
    while len(fib) < n:
        fib.append(fib[-1] + fib[-2])
    return tuple(fib)

# Get the first 5 Fibonacci numbers
first_5_fibonacci = fibonacci(5)
print(first_5_fibonacci)  # Output: (0, 1, 1, 2, 3)

(0, 1, 1, 2, 3)

In [ ]:
42. Create a tuple from user input.

In [228]:
user_input = input("Enter elements separated by spaces: ")
user_list = user_input.split()  # Split the input string into a list of strings
user_tuple = tuple(user_list)  # Convert the list of strings into a tuple

print("User tuple:", user_tuple)

Enter elements separated by spaces:  saifi

User tuple: ('saifi',)

In [ ]:
43. Swap two elements in a tuple.

In [229]:
def swap_elements(tup, i, j):
    lst = list(tup)
    lst[i], lst[j] = lst[j], lst[i]
    return tuple(lst)

# Test the function
my_tuple = (1, 2, 3, 4, 5)
swapped_tuple = swap_elements(my_tuple, 1, 3)
print(swapped_tuple)  # Output: (1, 4, 3, 2, 5)

(1, 4, 3, 2, 5)

In [ ]:
44. Reverse the elements of a tuple.

In [1]:
def reverse_tuple(tup):
    lst = list(tup)
    lst.reverse()
    return tuple(lst)

# Test the function
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = reverse_tuple(my_tuple)
print(reversed_tuple)  # Output: (5, 4, 3, 2, 1)

(5, 4, 3, 2, 1)

In [ ]:
45. Create a tuple of the first `n` powers of 2.

In [2]:
def powers_of_2(n):
    return tuple(2**i for i in range(n))

# Get the first 5 powers of 2
first_5_powers_of_2 = powers_of_2(5)
print(first_5_powers_of_2)  # Output: (1, 2, 4, 8, 16)

(1, 2, 4, 8, 16)

In [ ]:
46. Find the longest string in a tuple of strings.

In [3]:
def longest_string(tup):
    return max(tup, key=len)

# Test the function
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")
longest = longest_string(my_tuple)
print("Longest string:", longest)  # Output: "elderberry"

Longest string: elderberry

In [ ]:
47. Find the shortest string in a tuple of strings.

In [ ]:
def shortest_string(tup):
    return min(tup, key=len)

# Test the function
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")
shortest = shortest_string(my_tuple)
print("Shortest string:", shortest)  # Output: "date"

In [ ]:
48. Create a tuple of the first `n` triangular numbers.

In [4]:
def triangular_numbers(n):
    return tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Get the first 5 triangular numbers
first_5_triangular_numbers = triangular_numbers(5)
print(first_5_triangular_numbers)  # Output: (1, 3, 6, 10, 15)

(1, 3, 6, 10, 15)

In [ ]:
49. Check if a tuple contains another tuple as a subsequence.

In [5]:
def contains_subsequence(main_tuple, subsequence):
    for i in range(len(main_tuple) - len(subsequence) + 1):
        if main_tuple[i:i + len(subsequence)] == subsequence:
            return True
    return False

# Test the function
main_tuple = (1, 2, 3, 4, 5, 6, 7)
subsequence = (3, 4, 5)
print(contains_subsequence(main_tuple, subsequence))  # Output: True

True

In [ ]:
50. Create a tuple of alternating 1s and 0s of length `n`.

In [6]:
def alternating_ones_zeros(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Get a tuple of alternating 1s and 0s of length 5
alternating_tuple = alternating_ones_zeros(5)
print(alternating_tuple)  # Output: (1, 0, 1, 0, 1)

(1, 0, 1, 0, 1)

SET BASED QUESTION

In [ ]:
1. Create a set with integers from 1 to 5.

In [7]:
s={1,2,3,4,5}

In [8]:
s

{1, 2, 3, 4, 5}

In [9]:
type(s)

set

In [ ]:
2. Add an element to a set.

In [10]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [ ]:
3. Remove an element from a set.

In [11]:
my_set = {1, 2, 3, 4}
my_set.remove(3)
print(my_set)  # Output: {1, 2, 4}

my_set.discard(2)
print(my_set)  # Output: {1, 4}

# Trying to remove an element that does not exist
my_set.discard(5)
print(my_set)  # Output: {1, 4}

{1, 2, 4}
{1, 4}
{1, 4}

In [ ]:
4. Check if an element exists in a set.

In [12]:
my_set = {1, 2, 3, 4}
print(2 in my_set)  # Output: True
print(5 in my_set)  # Output: False

True
False

In [ ]:
5. Find the length of a set without using the `len()` function.

In [13]:
def set_length(s):
    count = 0
    for _ in s:
        count += 1
    return count

my_set = {1, 2, 3, 4, 5}
print(set_length(my_set))  # Output: 5

5

In [ ]:
6. Clear all elements from a set.

In [14]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)  # Output: set()

set()

In [ ]:
7. Create a set of even numbers from 1 to 10.

In [15]:
even_numbers = {x for x in range(1, 11) if x % 2 == 0}
print(even_numbers)  # Output: {2, 4, 6, 8, 10}

{2, 4, 6, 8, 10}

In [ ]:
8. Create a set of odd numbers from 1 to 10.

In [16]:
odd_numbers = {x for x in range(1, 11) if x % 2 != 0}
print(odd_numbers)  # Output: {1, 3, 5, 7, 9}

{1, 3, 5, 7, 9}

In [ ]:
9. Find the union of two sets.

In [17]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Using the union() method
union_set1 = set1.union(set2)
print(union_set1)  # Output: {1, 2, 3, 4, 5}

# Using the | operator
union_set2 = set1 | set2
print(union_set2)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
10. Find the intersection of two sets.

In [18]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}

# Using the intersection() method
intersection_set1 = set1.intersection(set2)
print(intersection_set1)  # Output: {3, 4}

# Using the & operator
intersection_set2 = set1 & set2
print(intersection_set2)  # Output: {3, 4}

{3, 4}
{3, 4}

In [ ]:
11. Find the difference between two sets.

In [19]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}

# Using the difference() method
difference_set1 = set1.difference(set2)
print(difference_set1)  # Output: {1, 2}

# Using the - operator
difference_set2 = set1 - set2
print(difference_set2)  # Output: {1, 2}

{1, 2}
{1, 2}

In [ ]:
12. Check if a set is a subset of another set.

In [20]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Using the issubset() method
is_subset1 = set1.issubset(set2)
print(is_subset1)  # Output: True

# Using the <= operator
is_subset2 = set1 <= set2
print(is_subset2)  # Output: True

True
True

In [ ]:
13. Check if a set is a superset of another set.

In [21]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

# Using the issuperset() method
is_superset1 = set1.issuperset(set2)
print(is_superset1)  # Output: True

# Using the >= operator
is_superset2 = set1 >= set2
print(is_superset2)  # Output: True

True
True

In [ ]:
14. Create a set from a list.

In [22]:
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)
print(my_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
15. Convert a set to a list.

In [23]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print(my_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
16. Remove a random element from a set.

In [24]:
my_set = {1, 2, 3, 4, 5}
removed_element = my_set.pop()
print("Removed element:", removed_element)
print("Set after removal:", my_set)

Removed element: 1
Set after removal: {2, 3, 4, 5}

In [ ]:
17. Pop an element from a set.

In [25]:
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()
print("Popped element:", popped_element)
print("Set after pop:", my_set)

Popped element: 1
Set after pop: {2, 3, 4, 5}

In [ ]:
18. Check if two sets have no elements in common.

In [26]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Using the isdisjoint() method
no_common_elements = set1.isdisjoint(set2)
print(no_common_elements)  # Output: True

True

In [ ]:
19. Find the symmetric difference between two sets.

In [27]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Using the symmetric_difference() method
symmetric_difference_set1 = set1.symmetric_difference(set2)
print(symmetric_difference_set1)  # Output: {1, 2, 5, 6}

# Using the ^ operator
symmetric_difference_set2 = set1 ^ set2
print(symmetric_difference_set2)  # Output: {1, 2, 5, 6}

{1, 2, 5, 6}
{1, 2, 5, 6}

In [ ]:
20. Update a set with elements from another set.

In [28]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Using the update() method
set1.update(set2)
print(set1)  # Output: {1, 2, 3, 4, 5}

# Using the |= operator
set1 |= set2
print(set1)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
21. Create a set of the first 5 prime numbers.

In [29]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = {num for num in range(2, 20) if is_prime(num)}
first_5_primes = set(list(prime_numbers)[:5])
print(first_5_primes)  # Output: {2, 3, 5, 7, 11}

{2, 3, 5, 7, 11}

In [ ]:
22. Check if two sets are identical.

In [30]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
set3 = {1, 2, 3, 4}

print(set1 == set2)  # Output: True
print(set1 == set3)  # Output: False

True
False

In [ ]:
23. Create a frozen set.

In [31]:
my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)
print(frozen_set)  # Output: frozenset({1, 2, 3, 4, 5})

frozenset({1, 2, 3, 4, 5})

In [ ]:
24. Check if a set is disjoint with another set.

In [32]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Using the isdisjoint() method
is_disjoint1 = set1.isdisjoint(set2)
print(is_disjoint1)  # Output: True

set3 = {3, 4, 5}

is_disjoint2 = set1.isdisjoint(set3)
print(is_disjoint2)  # Output: False

True
False

In [ ]:
25. Create a set of squares of numbers from 1 to 5.

In [33]:
squares = {x**2 for x in range(1, 6)}
print(squares)  # Output: {1, 4, 9, 16, 25}

{1, 4, 9, 16, 25}

In [ ]:
26. Filter out all even numbers from a set.

In [34]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
filtered_set = {x for x in my_set if x % 2 != 0}
print(filtered_set)  # Output: {1, 3, 5, 7, 9}

{1, 3, 5, 7, 9}

In [ ]:
27. Multiply all elements in a set by 2.

In [35]:
my_set = {1, 2, 3, 4, 5}
multiplied_set = {x * 2 for x in my_set}
print(multiplied_set)  # Output: {2, 4, 6, 8, 10}

{2, 4, 6, 8, 10}

In [ ]:
28. Create a set of random numbers.

In [36]:
s={889979,676978655,567897965}

In [37]:
s

{889979, 567897965, 676978655}

In [38]:
type(s)

set

In [ ]:
29. Check if a set is empty.

In [39]:
my_set = set()

if len(my_set) == 0:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [ ]:
30. Create a nested set (hint: use frozenset).

In [40]:
nested_set = {frozenset({1, 2, 3}), frozenset({'a', 'b', 'c'})}
print(nested_set)

{frozenset({1, 2, 3}), frozenset({'b', 'c', 'a'})}

In [ ]:
31. Remove an element from a set using the discard method.

In [41]:
my_set = {1, 2, 3, 4, 5}
print("Before discard:", my_set)

my_set.discard(3)  # Remove 3 from the set
print("After discard:", my_set)

my_set.discard(6)  # Try to remove 6 (not in the set)
print("After discard(6):", my_set)

Before discard: {1, 2, 3, 4, 5}
After discard: {1, 2, 4, 5}
After discard(6): {1, 2, 4, 5}

In [ ]:
32. Compare two sets.

In [42]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Equal sets
print(set1 == set2)  # False

# Not equal sets
print(set1 != set2)  # True

# Set 1 is a proper subset of set 2
print(set1 < set2)   # False

# Set 2 is a proper superset of set 1
print(set1 > set2)   # False

# Set 1 is a subset of set 2
print(set1 <= set2)  # False

# Set 2 is a superset of set 1

print(set1 >= set2)  # False

False
True
False
False
False
False

In [ ]:
33. Create a set from a string.

In [43]:
my_string = "hello"
my_set = set(my_string)
print(my_set)

{'e', 'h', 'l', 'o'}

In [ ]:
34. Convert a set of strings to a set of integers.

In [44]:
set_of_strings = {"1", "2", "3", "4", "5"}
set_of_integers = {int(x) for x in set_of_strings}
print(set_of_integers)

{1, 2, 3, 4, 5}

In [ ]:
35. Convert a set of integers to a set of strings.

In [45]:
set_of_integers = {1, 2, 3, 4, 5}
set_of_strings = {str(x) for x in set_of_integers}
print(set_of_strings)

{'4', '5', '2', '1', '3'}

In [ ]:
36. Create a set from a tuple.

In [46]:
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
37. Convert a set to a tuple.

In [47]:
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
38. Find the maximum value in a set.

In [48]:
my_set = {10, 5, 20, 15, 30}
max_value = max(my_set)
print("Maximum value in the set:", max_value)

Maximum value in the set: 30

In [ ]:
39. Find the minimum value in a set.

In [49]:
my_set = {10, 5, 20, 15, 30}
min_value = min(my_set)
print("Minimum value in the set:", min_value)

Minimum value in the set: 5

In [ ]:
40. Create a set from user input.

In [50]:
user_set = set()

while True:
    user_input = input("Enter a value (or type 'done' to finish): ")
    if user_input.lower() == 'done':
        break
    user_set.add(user_input)

print("The set you entered is:", user_set)

Enter a value (or type 'done' to finish):  imran
Enter a value (or type 'done' to finish):  wali
Enter a value (or type 'done' to finish):  done

The set you entered is: {'imran', 'wali'}

In [ ]:
41. Check if the intersection of two sets is empty.

In [51]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection = set1.intersection(set2)

if not intersection:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [ ]:
42. Create a set of the first 5 Fibonacci numbers.

In [52]:
fibonacci_set = set()
a, b = 0, 1

for _ in range(5):
    fibonacci_set.add(a)
    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [ ]:
43. Remove duplicates from a list using sets.

In [53]:
my_list = [1, 2, 3, 2, 4, 5, 1, 6, 7, 8, 5]
unique_list = list(set(my_list))
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
44. Check if two sets have the same elements, regardless of their count.

In [54]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}
set3 = {1, 2, 3}

# Check if set1 and set2 have the same elements
if set1.symmetric_difference(set2) == set():
    print("set1 and set2 have the same elements.")
else:
    print("set1 and set2 do not have the same elements.")

# Check if set1 and set3 have the same elements
if set1.symmetric_difference(set3) == set():
    print("set1 and set3 have the same elements.")
else:
    print("set1 and set3 do not have the same elements.")

set1 and set2 have the same elements.
set1 and set3 do not have the same elements.

In [ ]:
45. Create a set of the first `n` powers of 2.

In [55]:
n = 5
powers_of_2_set = {2**i for i in range(n)}
print("Set of the first", n, "powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [ ]:
46. Find the common elements between a set and a list.

In [56]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

common_elements = my_set.intersection(my_list)
# Alternatively: common_elements = my_set & set(my_list)

print("Common elements between the set and the list:", common_elements)

Common elements between the set and the list: {3, 4, 5}

In [ ]:
47. Create a set of the first `n` triangular numbers.

In [57]:
n = 5
triangular_numbers_set = {(i * (i + 1)) // 2 for i in range(1, n + 1)}
print("Set of the first", n, "triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [ ]:
48. Check if a set contains another set as a subset.

In [58]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {2, 3, 4}

# Check if set2 is a subset of set1
if set2.issubset(set1):
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

# Alternatively, you can use the <= operator
if set2 <= set1:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.
set2 is a subset of set1.

In [ ]:
49. Create a set of alternating 1s and 0s of length `n`.